@use '../../styles/mixins' as *;

.Header {
  position: fixed;
  width: 100%;

  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // rec
    padding-block: var(--spacing-200);
    background-color: var(--color-dark-500);

    @include mq('md') {
      padding-block: var(--spacing-300);
    }
  }

  .Logo {
    display: flex;
    align-items: center;
    gap: var(--spacing-200);
    font-family: var(--ff-secondary);
    font-size: var(--fs-600);
    font-weight: var(--fw-bold);

    .Icon {
      color: var(--color-accent-400);
      font-size: var(--fs-800);
    }
  }

  .NavMenu {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-500);
    position: absolute;
    top: 4rem;
    right: 0.5rem;
    z-index: 10;
    padding: var(--spacing-600) var(--spacing-800);
    border-radius: var(--border-radius);
    font-size: var(--fs-500);
    // rc
    // text-align: center;
    background-color: var(--color-dark-400);
    // box-shadow: var(--box-shadow);
    box-shadow: var(--shadow-md);
    transform: scale(0);
    transform-origin: top right;
    transition: transform 150ms ease-out;

    &[data-open='true'] {
      transform: scale(1);
    }

    @media screen and (min-width: 48em) {
      flex-direction: row;
      position: initial;
      box-shadow: none;
      padding: 0;
      // text-align: start;
      background-color: transparent;
      transition: none;
      transform: scale(1);
      gap: var(--spacing-600);
    }
  }

  .NavLink {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      display: block;
      height: 4px;
      width: 100%;
      margin-top: var(--spacing-100);
      background-color: var(--color-accent-400);
      transform: scaleX(0);
      transition: transform 250ms ease-out;
    }

    &:hover::after,
    &:focus::after,
    &[data-active='true']::after {
      transform: scale(1);
    }
  }

  .ButtonGroup {
    display: flex;
    align-items: center;
    gap: var(--spacing-500);
  }

  .NavToggle {
    display: inline-flex;
    border-radius: 50%;
    padding: var(--spacing-100);
    font-size: var(--fs-700);
    background-color: var(--color-accent-400);
    color: var(--color-light-400);
    border: 0;
    box-shadow: var(--shadow-sm);
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: var(--color-accent-500);
    }

    @media screen and (min-width: 48em) {
      display: none;
    }
  }

  .ThemeToggle {
    display: inline-flex;
    font-size: var(--fs-600);
    background-color: transparent;
    color: var(--color-light-400);
    border: 0;
    cursor: pointer;
  }
}
