@use '../../styles/mixins' as *;

.LatestProjects {
  display: grid;
  place-items: center;
  gap: var(--spacing-4);
  padding-block: var(--spacing-800);

  .Grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-4);

    @include mq('md') {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
