@use '../../styles/mixins' as *;

.Toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: var(--spacing-100);
  font-size: var(--text-2xl);
  background-color: hsl(var(--color-accent-400));
  color: hsl(var(--color-primary-950));
  border: 1px solid hsl(var(--color-primary-900), 0.5);
  box-shadow: var(--shadow-sm);
  outline: none;
  cursor: pointer;

  &:hover,
  &:focus-visible {
    background-color: hsl(var(--color-accent-400), 0.8);
  }

  @include mq('md') {
    display: none;
  }
}

.Content {
  display: flex;
  margin: var(--spacing-2);
  flex-direction: column;
  gap: var(--spacing-1);
  min-width: 10rem;
  border-radius: var(--border-radius);
  padding: var(--spacing-3);
  background-color: hsl(var(--color-primary-950), 0.8);
  backdrop-filter: blur(1rem) brightness(90%);
  border: 1px solid hsl(var(--color-primary-900), 0.5);
  z-index: 99;
  box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35),
    0px 10px 20px -15px rgba(22, 23, 24, 0.2);
}

.MenuItem {
  display: flex;
  align-items: center;
  user-select: none;
  outline: none;
  border-radius: 6px;
  padding: var(--spacing-2) var(--spacing-3);

  &:hover,
  &:focus-visible {
    color: hsl(var(--color-primary-200));
  }

  &[data-active='true'] {
    background-color: hsl(var(--color-primary-900), 0.4);
    border: 1px solid hsl(var(--color-primary-900), 0.5);
    color: #ffffff;
  }
}
