@use '../../styles/mixins' as *;

.ContactForm {
  display: grid;
  gap: var(--spacing-400);

  .Field {
    display: grid;
    gap: var(--spacing-200);
    border: 0;

    @include mq('md') {
      gap: var(--spacing-400);
    }

    > label {
      text-transform: capitalize;
    }

    > input,
    > textarea {
      padding: var(--spacing-200);
      border: 3px solid transparent;
      border-radius: 6px;
      background-color: var(--color-dark-300);
      color: var(--color-light-400);
      outline: 0;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px,
        rgba(0, 0, 0, 0.15) 0px 1px 1px;
      transition: border-color 200ms ease-out;

      &:focus {
        border-color: hsl(var(--color-accent-400));
      }
    }

    > textarea {
      height: 7.5rem;
      resize: none;
    }
  }
}
