@use "../../../../styles/mixins" as *;

.form {
  display: grid;
  gap: var(--spacing-4);

  .field {
    display: grid;
    gap: var(--spacing-2);
    border: 0;

    @include mq("md") {
      gap: var(--spacing-2);
    }

    >label {
      text-transform: capitalize;
      padding-left: 2px;
    }

    >input {
      font-size: var(--text-sm);
      padding: var(--spacing-2) var(--spacing-3);
      border: 1px solid hsl(var(--color-primary-100), 0.25);
      border-radius: 6px;
      background-color: hsl(var(--color-primary-900), 0.8);
      color: hsl(var(--color-primary-100));
      outline: 0;
      height: 3.125rem;
      box-shadow:
        rgba(0, 0, 0, 0.1) 0px 1px 1px,
        rgba(0, 0, 0, 0.15) 0px 1px 1px;
      transition: border-color 100ms ease;

      &:focus {
        border-color: hsl(var(--color-accent-400));
      }
    }
  }

  .error_message {
    color: hsl(var(--color-danger));
    font-size: var(--text-sm);
  }
}

.btn_group {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: var(--spacing-4);
  padding-top: var(--spacing-8);

  button:first-child {
    color: hsl(var(--color-danger));
  }
}
