@use '../../styles/mixins' as *;

.MyBlog {
  padding-block: var(--spacing-24) var(--spacing-20);
  max-width: 50rem;
  margin-inline: auto;

  @include mq('md') {
    padding-bottom: var(--spacing-28);
  }

  .Subtitle {
    text-align: center;
    line-height: 1.8;
    max-width: min(35rem, 90%);
    margin-inline: auto;
  }

  .Posts {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-4);
    padding-block: var(--spacing-12);

    @include mq('sm') {
      padding-block: var(--spacing-14);
      grid-template-columns: repeat(2, 1fr);
      gap: var(--spacing-5);
    }
  }
}
