@use '../../styles/mixins' as *;

.SkillCard {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-3);
  border-radius: 10px;
  background-color: hsl(var(--color-primary-900), 0.4);
  border: 1px solid hsl(var(--color-primary-800));
  box-shadow: var(--shadow-sm);
  padding: var(--spacing-2);
  color: hsl(var(--color-primary-200));
  position: relative;
  transition: transform 200ms ease;

  &:hover,
  &:focus-visible {
    transform: scale(1.05);
  }

  @include mq('sm') {
    padding: var(--spacing-2) var(--spacing-4);
  }

  .Icon {
    position: relative;
    width: 2.5rem;
    aspect-ratio: 1/1;

    img {
      object-fit: contain;
      object-position: center;
    }

    @include mq('sm') {
      width: 2rem;
    }
  }

  p {
    display: none;

    @media screen and (min-width: 40em) {
      display: block;
    }
  }
}

// &::before {
//   content: '';
//   background: rgb(221, 223, 223);
//   background: radial-gradient(
//     circle,
//     hsl(var(--color-primary-50), 0.1),
//     hsl(var(--color-primary-50), 0.2)
//   );
//   height: 100%;
//   width: 100%;
//   position: absolute;
//   inset: 0;
//   border-radius: 10px;
// }
