@use "../../../styles/mixins" as *;

.skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing-4);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: var(--spacing-10);
}

.title {
  font-size: var(--text-3xl);
  font-weight: var(--fw-medium);
  text-transform: capitalize;
}
