@use "../../../styles/mixins" as *;

.skills {
  max-width: 54rem;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--spacing-3);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: var(--spacing-10);
}

.title {
  font-size: var(--text-3xl);
  font-weight: var(--fw-medium);
  text-transform: capitalize;
}
