@use '../../styles/mixins' as *;

.ProjectCard {
  background-color: var(--color-dark-400);
  border-radius: 10px;
  box-shadow: var(--shadow-sm);

  .Image {
    height: 16rem;
    width: 100%;
    object-fit: cover;
    object-position: center;
    // border-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    @include mq('lg') {
      height: 18rem;
    }
  }

  .Body {
    display: grid;
    gap: var(--spacing-300);
    padding: var(--spacing-400);

    @include mq('md') {
      padding: var(--spacing-500);
    }
  }

  .Title {
    font-size: var(--fs-600);
    font-weight: var(--fw-bold);
  }

  .TechStack {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-200);

    > span {
      padding: 2px var(--spacing-500);
      border-radius: 100vmin;
      font-size: var(--fs-300);
      // rc
      // background-color: hsla(190, 64%, 44%, 15%);
      // border: 2px solid var(--color-accent-400);
      // color: var(--color-accent-400);

      background-color: var(--color-dark-300);
    }
  }

  .Footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin-top: var(--spacing-200);
    padding-block: var(--spacing-300);

    .Links {
      display: flex;
      gap: var(--spacing-200);
    }

    .Link {
      display: inline-flex;
      padding: var(--spacing-200);
      border-radius: 50%;
      font-size: var(--fs-600);
      background-color: var(--color-dark-500);
      color: var(--color-accent-400);
      transition: color 250ms ease-out, background-color 250ms ease-out;

      &:hover,
      &:focus {
        background-color: var(--color-accent-400);
        color: var(--color-light-300);
      }
    }
  }
}
