@use '../../styles/mixins' as *;

.ProjectCard {
  display: flex;
  align-items: flex-end;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  border-radius: 10px;
  box-shadow: var(--shadow-sm);
  height: 24rem;
  width: 100%;
  border: 1px solid hsl(var(--color-primary-50), 0.1);
  transition: all 200ms ease;

  &:hover,
  &:focus-visible {
    border-color: hsl(var(--color-accent-400));
    color: #ffffff;
    box-shadow: var(--shadow-lg);
  }

  .Body {
    display: grid;
    gap: var(--spacing-2);
    padding: var(--spacing-4) var(--spacing-3);
    background: rgb(25, 26, 26);
    background: linear-gradient(
      0deg,
      hsl(var(--color-primary-950), 0.9),
      hsl(var(--color-primary-950), 0.6),
      hsl(var(--color-primary-950), 0.3)
    );
    backdrop-filter: blur(1rem);
    border-radius: 0 0 10px 10px;
    transition: background 2000ms eas;

    @include mq('md') {
      padding: var(--spacing-5) var(--spacing-4);
    }
  }

  .Title {
    font-size: var(--text-2xl);
    font-weight: var(--fw-bold);
  }
}
