@use '../../styles/mixins' as *;

.ProjectCard {
  background-color: var(--color-dark-400);
  border-radius: 10px;
  box-shadow: var(--shadow-sm);

  .Image {
    height: 16rem;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px 10px 0 0;

    @include mq('lg') {
      height: 18rem;
    }
  }

  .Body {
    display: grid;
    gap: var(--spacing-300);
    padding: var(--spacing-400);

    @include mq('md') {
      padding: var(--spacing-500);
    }
  }

  .Title {
    font-size: var(--fs-600);
    font-weight: var(--fw-bold);
  }

  .Footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: var(--spacing-300);

    .Links {
      display: flex;
      gap: var(--spacing-200);
    }
  }
}
