@forward 'variables';
@forward 'resets';
@forward 'mixins';

.container {
  max-width: min(70rem, 100% - 1em);
  margin-inline: auto;
  margin-top: var(--spacing-14);
}

* {
  // border: 1px solid lime;
}
