.TechStack {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-200);

  > span {
    border-radius: 100vmin;
    padding: 2px var(--spacing-500);
    font-size: var(--fs-300);
    background-color: var(--color-dark-300);
  }
}
