@use "../../styles/mixins" as *;

.skills {
  max-width: 54rem;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--spacing-3);
}
