@use '../../styles/mixins' as *;

.Skills {
  padding-bottom: var(--spacing-20);
  scroll-margin-top: var(--spacing-20);

  @include mq('md') {
    padding-bottom: var(--spacing-28);
  }

  .SkillsContainer {
    max-width: 54rem;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--spacing-3);
  }
}
