@use '../../styles/mixins' as *;

.Hero {
  display: grid;
  justify-items: center;
  gap: var(--spacing-400);
  // rc
  padding-block: var(--spacing-700);
  text-align: center;

  .Avatar {
    background-color: var(--color-dark-300);
    border-radius: 50%;
    border: 4px solid var(--color-light-400);
    box-shadow: var(--shadow-lg);
    margin-bottom: var(--spacing-200);
  }

  .Title {
    max-width: 30rem;
    font-family: var(--ff-secondary);
    font-size: var(--fs-main-title);
    font-weight: var(--fw-bold);
    line-height: 1.3;

    > span {
      color: var(--color-accent-400);
    }
  }

  .Text {
    font-size: var(--fs-500);
    color: hsla(0, 0%, 100%, 0.5);
    max-width: 25rem;
    padding-bottom: var(--spacing-200);

    > span {
      font-weight: var(--fw-bold);
    }
  }

  .ButtonGroup {
    display: flex;
    justify-content: center;
    gap: var(--spacing-400);
  }

  .Button:first-child {
    @include button('primary');
  }

  .Button:last-child {
    @include button('secondary');
  }
}
