@use '../../styles/mixins' as *;

.Hero {
  display: grid;
  justify-items: center;
  gap: var(--spacing-400);
  padding-block: var(--spacing-300);
  text-align: center;

  .Avatar {
    position: relative;
    aspect-ratio: 1/1;
    width: 12rem;
    background-color: hsl(var(--color-primary-900));
    border-radius: 50%;
    border: 2px solid hsl(var(--color-accent-400));
    box-shadow: var(--shadow-lg);
    margin-bottom: var(--spacing-200);
  }

  .Title {
    max-width: 26rem;
    font-family: var(--ff-secondary);
    font-size: var(--fs-main-title);
    font-weight: var(--fw-bold);
    line-height: 1.4;

    > span {
      color: hsl(var(--color-accent-400));
    }
  }

  .Text {
    max-width: 25rem;
    color: hsl(var(--color-primary-300));
    padding-bottom: var(--spacing-200);

    > strong {
      font-weight: var(--fw-bold);
    }
  }

  .ButtonGroup {
    display: flex;
    justify-content: center;
    gap: var(--spacing-300);
  }
}
