@use '../../styles/mixins' as *;

.Skills {
  padding-block: var(--spacing-800);
}

.Tab {
  display: grid;
}

.TabPanel {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacing-300);

  @include mq('md') {
    grid-template-columns: repeat(4, 1fr);
  }

  @include mq('lg') {
    grid-template-columns: repeat(5, 1fr);
    gap: var(--spacing-400);
  }
}

.TabList {
  display: flex;
  justify-content: center;
  gap: var(--spacing-200);
  font-size: var(--fs-500);
  padding-block: var(--spacing-400);
  margin-bottom: var(--spacing-300);
  color: hsla(0, 0%, 100%, 0.65);
  cursor: pointer;
}

.Tab {
  padding: var(--spacing-100) var(--spacing-400);
  border-radius: 100vmin;
  transition: background-color 250ms ease-out, color 250ms ease-out;

  &:hover,
  &:focus {
    background-color: var(--color-dark-300);
    color: var(--color-light-400);
    outline: none;
  }

  &.active {
    color: var(--color-accent-400);
    background-color: hsla(190, 64%, 44%, 20%);
    box-shadow: var(--shadow-sm);
  }
}
