@use '../../styles/mixins' as *;

.Skills {
  padding-block: var(--spacing-800);

  .SkillsContainer {
    max-width: min(100%, 55rem);
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--spacing-3);

    @include mq('md') {
      gap: var(--spacing-4);
    }
  }
}
