.Button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-2);
  font-weight: 500;
  text-transform: capitalize;
  background-color: transparent;
  padding-inline: var(--spacing-6);
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  cursor: pointer;
  transition: all 200ms ease;
  height: 3.125rem;

  > svg {
    font-size: var(--text-xl);
    color: hsl(var(--color-primary-50), 0.9);
    transition: transform 350ms ease;
  }

  &:hover,
  &:focus-visible {
    color: #ffffff;
    box-shadow: var(--shadow-lg);

    > svg {
      color: #ffffff;
      transform: scale(1.1);
    }
  }

  &[data-variant="primary"] {
    background-color: var(--color-blue);
    border-color: var(--color-border);
    color: var(--color-bg);

    &:hover,
    &:focus {
      background-color: hsl(var(--color-accent-500), 0.9);
      border-color: hsl(var(--color-accent-500), 0.9);
    }
  }

  &[data-variant="secondary"] {
    background-color: var(--color-bg-secondary);
    border-color: var(--color-border);
    color: #ffffff;

    &:hover,
    &:focus {
      background-color: hsl(var(--color-primary-900), 0.5);
    }
  }

  &[data-variant="rounded"] {
    display: inline-flex;
    padding: var(--spacing-2);
    border-radius: 50%;
    font-size: var(--text-lg);
    background-color: hsl(var(--color-primary-900), 0.5);
    border-color: hsl(var(--color-primary-50), 0.01);
    box-shadow: none;
    transition:
      color 250ms ease-out,
      background-color 250ms ease-out;

    &:hover,
    &:focus {
      background-color: hsl(var(--color-accent-400));
      color: #ffffff;
    }
  }
}
