@use '../../styles/mixins' as *;

.MyProjects {
  padding-bottom: var(--spacing-28);
  scroll-margin-top: var(--spacing-20);
  max-width: 50rem;
  margin-inline: auto;

  .Grid {
    display: grid;
    gap: var(--spacing-7);
  }
}
