@use "../../styles/mixins" as *;

.MyProjects {
  scroll-margin-top: var(--spacing-20);
  max-width: 45rem;
  margin-inline: auto;

  @include mq("md") {
    gap: var(--spacing-7);
  }

  .Grid {
    display: grid;
    gap: var(--spacing-8);
  }
}
