@use '../../styles/mixins' as *;

.AboutMe {
  display: grid;
  gap: var(--spacing-400);
  padding-block: var(--spacing-600);

  @include mq('md') {
    gap: var(--spacing-700);
  }

  .Grid {
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
    gap: var(--spacing-500);

    @include mq('lg') {
      grid-template-columns: repeat(2, 1fr);
      gap: var(--spacing-900);
    }
  }

  .Column {
    display: grid;
    gap: var(--spacing-300);
    justify-items: start;
  }

  .Title {
    font-size: var(--fs-600);
    font-weight: var(--fw-bold);
  }

  .Text > strong {
    font-weight: var(--fw-bold);
  }

  .Image {
    height: 15rem;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 6px;
    box-shadow: var(--shadow-sm);

    @include mq('lg') {
      height: 18rem;
    }
  }

  .FollowText {
    // font-weight: var(--fw-semibold);
    font-size: var(--fs-500);

    > a {
      color: var(--color-accent-400);
    }
  }
}
