@use '../../styles/mixins' as *;

.SkillCard {
  * {
    // border: 2px solid lime;
  }

  display: grid;
  // justify-content: center;
  justify-items: center;
  align-items: center;
  gap: var(--spacing-200);
  background-color: var(--color-dark-400);
  padding: var(--spacing-300);
  box-shadow: var(--shadow-sm);
  border-radius: 6px;

  @include mq('md') {
    padding: var(--spacing-400);
  }

  .Icon {
  }

  // > i {
  //   font-size: 2.5rem;

  //   @include mq('md') {
  //     font-size: 3rem;
  //   }

  //   @include mq('lg') {
  //     font-size: 4rem;
  //   }
  // }

  > h3 {
    // rc
    // font-weight: var(--fw-semibold);
    font-size: var(--fs-300);

    @include mq('md') {
      font-size: var(--fs-500);
    }
  }
}
