@use '../../styles/mixins' as *;

.SkillCard {
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
  font-size: var(--text-sm);
  border-radius: 10px;
  background-color: hsl(var(--color-primary-900), 0.5);
  border: 1px solid hsl(var(--color-primary-50), 0.05);
  box-shadow: var(--shadow-sm);
  padding: var(--spacing-2) var(--spacing-3);
  transition: transform 200ms ease;
  color: hsl(var(--color-primary-200));

  @include mq('md') {
    font-size: var(--text-base);
  }

  .Icon {
    position: relative;
    width: 1.5rem;
    aspect-ratio: 1/1;

    @include mq('md') {
      width: 1.875rem;
    }
  }
}
