@use '../../styles/mixins' as *;

.SkillCard {
  display: grid;
  justify-items: center;
  align-items: center;
  gap: var(--spacing-200);
  border-radius: 6px;
  padding: var(--spacing-500) var(--spacing-200);
  box-shadow: var(--shadow-sm);
  background-color: var(--color-dark-400);

  @include mq('md') {
    padding: var(--spacing-400);
  }

  > h3 {
    font-size: var(--fs-300);

    @include mq('md') {
      font-size: var(--fs-500);
    }
  }
}
