@use "../../styles/mixins" as *;

.Header {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  background-color: hsl(var(--color-primary-950), 0.8);
  backdrop-filter: blur(1rem) saturate(200%);

  >div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: var(--spacing-2);

    @include mq("md") {
      padding-block: var(--spacing-3);
    }
  }

  .Logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-2);
    font-size: var(--text-lg);
    font-weight: var(--fw-bold);

    .Icon {
      color: hsl(var(--color-accent-400));
      font-size: var(--text-3xl);
    }
  }

  .NavMenu {
    display: none;
    gap: var(--spacing-2);

    @include mq("md") {
      display: flex;
    }
  }

  .NavLink {
    padding: var(--spacing-2) var(--spacing-3);
    border-radius: 8px;
    transition: color 200ms ease;
    font-weight: var(--fw-medium);
    position: relative;

    >span {
      position: absolute;
      inset: 0;
      height: 100%;
      width: 100%;
      z-index: -1;
      border-radius: 8px;
      background-color: hsl(var(--color-primary-900), 0.4);
      border: 1px solid hsl(var(--color-primary-900), 0.5);
    }

    &:hover,
    &:focus-visible {
      color: hsl(var(--color-primary-300));
    }

    &[data-active="true"] {
      color: #ffffff;
    }
  }
}
