@use '../../styles/mixins' as *;

.Header {
  width: 100%;
  position: fixed;
  z-index: 999;
  background-color: hsl(var(--color-primary-950), 0.8);
  backdrop-filter: blur(1rem) brightness(90%);

  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: var(--spacing-2);

    @include mq('md') {
      padding-block: var(--spacing-3);
    }
  }

  .Logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-2);
    font-size: var(--text-lg);
    font-weight: var(--fw-bold);

    .Icon {
      color: hsl(var(--color-accent-400));
      font-size: var(--text-3xl);
    }
  }

  .NavMenu {
    display: none;
    gap: var(--spacing-2);

    @include mq('md') {
      display: flex;
    }
  }

  .NavLink {
    padding: var(--spacing-2) var(--spacing-3);
    border-radius: 8px;

    &:hover,
    &:focus-visible {
      color: hsl(var(--color-primary-200));
    }

    &[data-active='true'] {
      background-color: hsl(var(--color-primary-900), 0.4);
      border: 1px solid hsl(var(--color-primary-900), 0.5);
      color: #ffffff;
    }
  }
}
