@use '../../styles/mixins' as *;

.Footer {
  display: flex;
  justify-content: space-between;
  padding-block: var(--spacing-400);
  margin-top: var(--spacing-500);

  .Copyright {
    display: none;

    @include mq('md') {
      display: block;
    }
  }

  .Links {
    display: flex;
    gap: var(--spacing-500);
  }
}
