@use '../../styles/mixins' as *;

.Footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-block: var(--spacing-5);

  @include mq('md') {
    flex-direction: row;
    justify-content: space-between;
  }

  .Copyright {
    padding-top: var(--spacing-4);
    font-size: var(--text-sm);
    color: hsl(var(--color-primary-400));

    @include mq('md') {
      padding-top: 0;
    }
  }

  .Links {
    display: flex;
    gap: var(--spacing-5);

    > a {
      transition: color 200ms ease;
      &:hover,
      &:focus-visible {
        color: hsl(var(--color-primary-300));
      }
    }
  }
}
