@use '../../styles/mixins' as *;

.Footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-block: var(--spacing-400);
  margin-top: var(--spacing-500);
  color: var(--color-light-500);

  @include mq('md') {
    flex-direction: row;
    justify-content: space-between;
  }

  .Copyright {
    padding-top: var(--spacing-300);

    @include mq('md') {
      padding-top: 0;
    }
  }

  .Links {
    display: flex;
    gap: var(--spacing-500);

    > a {
      &::after {
        content: '';
        display: block;
        width: 100%;
        height: 3px;
        background-color: var(--color-light-400);
        transform: scale(0);
        transition: transform 250ms ease-out;
      }

      &:hover::after,
      &:focus::after {
        transform: scale(1);
      }
    }
  }
}
