@use '../../../styles/mixins' as *;

.Title {
  font-size: var(--text-2xl);
  font-weight: var(--fw-medium);
  text-transform: capitalize;
  text-align: center;
  max-width: max-content;
  margin-inline: auto;
  padding-bottom: var(--spacing-7);
  letter-spacing: 1px;

  @include mq('md') {
    font-size: var(--text-3xl);
    padding-bottom: var(--spacing-9);
  }
}
