@use "../../../styles/mixins" as *;

.Title {
  font-size: var(--text-4xl);
  font-weight: var(--fw-medium);
  text-transform: capitalize;
  text-align: center;
  max-width: max-content;
  margin-inline: auto;
  padding-bottom: var(--spacing-12);

  @include mq("md") {
    padding-bottom: var(--spacing-14);
  }
}
