@use '../../../styles/mixins' as *;

.Title {
  // font-family: var(--ff-secondary);
  font-size: var(--text-2xl);
  font-weight: var(--fw-bold);
  text-transform: capitalize;
  text-align: center;
  max-width: max-content;
  margin-inline: auto;

  @include mq('md') {
    font-size: var(--text-3xl);
  }
}
