.TechStack {
  max-width: max-content;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: var(--spacing-2);
  font-size: var(--text-sm);
  padding-top: var(--spacing-3);

  > span {
    border-radius: 100vmin;
    padding: var(--spacing-1) var(--spacing-4);
    background-color: var(--color-bg-secondary);
    border: 1px solid var(--color-border);
  }
}
