@use '../../styles/mixins' as *;

.AboutMe {
  max-width: 40rem;
  margin-inline: auto;
  text-align: center;
  line-height: 1.8;
  padding-bottom: var(--spacing-28);
  scroll-margin-top: var(--spacing-20);

  p {
    padding-bottom: var(--spacing-5);

    strong {
      font-weight: var(--fw-bold);
    }
  }
}
